@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');
.room-nav{
    position: relative;
    overflow: hidden;
}

.room-nav::before{
    content:'';
    width:70%;
    height:10px;
    border-radius: 5px;
    height:0px;
    background-color: rgb(231, 231, 231);
    position:absolute;
    top:00px;
    left:0px;
    opacity: .3;
    -webkit-box-shadow: 5px 5px 50px 50px rgba(80, 80, 88, 0.32); 
    box-shadow: 5px 5px 50px 100px rgba(80, 80, 88, 0.32); 
}
.router-link{
    text-decoration: none;
    color:white
}
.message-input{
    flex-grow: 1;
    border: none;
    background-color: #212324;
    padding: 15px;
    border-radius: 5px;
    color: white;
    font-size: 1.1rem;
    letter-spacing: .025rem;
    resize: none;
    height: 50px;

    /* box-shadow:  0px 5px 20px rgb(34, 34, 34); */
}
.message-input:focus{
outline: none;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  .fas{
    margin-right:5px;
  }
  .msg{
    white-space: pre-wrap;
  }