@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');
.room-nav{
    position: relative;
    overflow: hidden;
}

.room-nav::before{
    content:'';
    width:70%;
    height:10px;
    border-radius: 5px;
    height:0px;
    background-color: rgb(231, 231, 231);
    position:absolute;
    top:00px;
    left:0px;
    opacity: .3;
    -webkit-box-shadow: 5px 5px 50px 50px rgba(80, 80, 88, 0.32); 
    box-shadow: 5px 5px 50px 100px rgba(80, 80, 88, 0.32); 
}